.site-header {
    position: absolute;
    width: 100%;
    z-index: 2;
    padding: 10px 0;

    @mixin atMedium {
        background-color: rgba($mainBlue, .3);
    }

    &__btn-container {

        @mixin atMedium {
            float: right; 
        }
        
    }

    &__logo {
        position: absolute;
        background-color: $mainBlue;
        padding: 13px 29px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        @mixin atMedium {
            left: auto;
            transform: translateX(0);
            padding: 25px 36px;
        }
    }

    &__menu-icon {
        width: 20px;
        height: 20px;
        background-color: white;
        position: absolute;
        top: 10px;
        right: 10px;

        @mixin atMedium {
            display: none;
        }
    }

    &__menu-content {
        display: none;
        padding-top: 100px;
        text-align: center;

        @mixin atMedium {
            padding-top: 0;
            display: block;
        }

        &--is-visible {
            display: block;
        }
    }
}